.head{
  background: #292059;
  min-height: 11vh;
  color: white;
  margin: 0%;
  vertical-align: middle;
  line-height: 11vh;
  text-align: center;
}

.bar{
  min-height: 11vh;
  background: #EFF3FF;
  padding: 5px 5% 0px 5%;
  margin: 0%;
}
.progress{
  min-height: 11vh;
  width: 45%;
}
.completed{
  margin: 0%;
  text-align: center;
  color: #292059;
  font-weight: 750;
}

.progressBar{
  min-height: 7vh;
  width: 100%;
  align-items: center;

}
.timer{
  font-size: 50px;
  color: #292059;
}

.questions{
  min-height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10%;
  list-style-type: none;
  overflow: auto;

}
.questionNumber{
  height: 50px;
  width: 50px;
  background: #EFF3FF;
  color: #292059;
  border-radius: 50%;
  list-style-type: none;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 20px;
  margin-right: 15px;
}
.questionNumber:active{   
  transform: translateY(2px);
  background: #292059;
  color: white;
}

.main{
  height: 50vh;
  padding: 0% 5%;
  overflow: auto;
}

.buttons{
  margin: 10px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn{
  background: #292059;
  min-height: 50px;
  min-width: 110px;
  color: white;
  border-radius: 10px;
  font-size: large;
  border: none;
  letter-spacing: 2px;
  margin-right: 5px;
}
.btn:focus{  outline: none;}
.btn:active{  transform: translateY(2px);}

.loading{
  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 600px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .head{
    min-height: 8vh;
    line-height: 8vh;
    font-size: 28px;
  }
  .bar{
    min-height: 7vh;
  }
  .completed{
    font-size: 14px;
  }
  .progress{
    min-height: 7vh;
  }
  .progressBar{
    min-height: 4vh;
  }
  .questions{
    min-height: 7vh;
    margin: 0% 10% 0% 5%;
  }
  .questionNumber{
    height: 35px;
    width: 35px;
    font-size: 15px;
  }
  .main{
    height: 63vh;
  }
  .buttons{
    margin-top: 20px;
  }
}